{% extends "base.html" %}
{% block content %}

<style>
form label,
form input {
  display: block;
}
form input {
  margin-bottom: 10px;
}
form label#delete,
form #inputDelete {
  display: inline;
}
p#callhome {
  font-size: smaller;
  text-align: center;
}
</style>

<h1>Edit the thing</h1>
<p><strong>{{ thing.uuid }}</strong></p>

<form action="" method="POST" name="edit_thing_form">
  {{ form.hidden_tag() }}
  <label for="inputName">Name</label>
  {{ form.name(id="inputName", maxlength="100") }}

  <label for="inputDelta">Time to consider dead (mins)</label>
  {{ form.delta(id="inputDelta", type="number") }}

  <label id="delete" for="inputDelete">Delete?</label>
  {{ form.delete(id="inputDelete") }}
  <br>

  <button type="submit">Submit</button>
  <a href="{{ url_for('things') }}">Go back</a>
</form>

<p id="callhome"><strong>Call home URL:</strong><br>
http://do.avacariu.me/{{ url_for('api_callhome', uuid=thing.uuid) }}</em></p>

{% endblock %}

