{% extends "base.html" %}
{% block content %}

<style>
.down {
  background-color: red;
  color: white;
}

.no-call {
  background-color: yellow;
}

p#callhome {
  font-size: smaller;
  text-align: center;
}
</style>

<table cellspacing="0" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>UUID</th>
    <th>Last call (min ago)</th>
    <th>Down?</th>
  </tr>
  {% for thing in things %}
  {% set down = isitdown(thing.timestamp, thing.delta) %}

  {% if down == "N/A" %}
  <tr class="no-call">
  {% elif down == "Yes" %}
  <tr class="down">
  {% else %}
  <tr>
  {% endif %}
    <td>{{ thing.name }}</td>
    <td><a href="{{ url_for('thing', uuid=thing.uuid) }}">{{ thing.uuid }}</a></td>
    <td title="{{ thing.timestamp }} UTC">
      {{ minutes_ago(thing.timestamp) }}
    </td>
    <td>{{ isitdown(thing.timestamp, thing.delta) }}</td>
  </tr>
  {% endfor %}
</table>

<p id="callhome"><strong>Call home URL:</strong> http://isitup.80x24.ca/api/callhome/<em>&lt;UUID&gt;</em></p>

{% endblock %}
